body{
    background-image: url(card_bg1.jpeg);
    height:100vh;
    width:100%;
    line-height:unset !important; /* due to bootstrap */
    background-size:cover;
    
}
*{box-sizing: unset !important;} /* due to bootstrap */

#anchor, #game-name,#game,#credits,#instructions{
    margin: 20px auto;
    
    
    padding:20px;
    border:5px solid black;
    background-color: white;
}

#game-name{
    width:40%;
    height:30px;
}

#game-window{
    display:flex;
    height: 60%;
}

#player-window, #dealer-window{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;

    align-items: center;
    
    width:50%;
    height:100%;
    border:5px solid black;
}

#player-points,#dealer-points{
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    width: 200px;
    height: 40px;
    /* border: 1px solid black; */
}

#player-cards,#dealer-cards{
    display:flex;
    height: 350px;
    width: 100%;
    margin-top: 50px;
    /* border: 1px solid black; */
    margin-bottom:50px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#game-options{
    display: flex;
    align-items: center;
    justify-content: center;
    height:20%;
    border:5px solid black;
}

#game-options-1{
    display: flex;
    height: 40px;
    width: 250px;
    justify-content: space-around;
}

#anchor{
    width:60%;
    height:30px;
}

#game{
    margin-top:60px;
    width:80%;
    height:800px;
    display:flex;
    flex-direction:column;
    background-color: rgb(32, 147, 248);
    
}

#points{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 20%;
}

#row-1,#row-2{
    display:flex;
    
}

#cell-11,#cell-12,#cell-13,#cell-21,#cell-22,#cell-23{
    border:1px solid black;
    height: 40px;
    width: 50px;
    display: flex;
    
    align-items: center;
    justify-content: center;

}

#instructions{
    /* width:100%; */
}

#by{
    text-align:left;
}

#names{
    text-align: center;
}

#credits{
    margin-right: 0;
    margin-bottom: 0;
    height: 79px;
    width: 199px;
}

#devs{
    /* text-align:right; */
}

h1,h4{
    text-align: center;
    margin:0;
}

p{
    font-size: 20px;
    margin:0;
}


.smallimg{
    height: 110px;
    width: 90px;   
}

.smallimg2{
    height: 140px;
    width: 130px;
}

#back{
    width: 100%;
    object-fit: contain;
}


@keyframes confettiRain {
  0% {
    opacity: 1;
    margin-top: -100vh;
    margin-left: -200px;
  } 
  
  100% {
    opacity: 1;
    margin-top: 100vh;
    margin-left: 200px;
  }
}

.confetti {
  opacity: 0;
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  transition: 500ms ease;
  animation: confettiRain 5s infinite;
}

#game {
   overflow: hidden !important;
   position: relative;
}

#number{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 120px;
    left: 45%;
    font-size: 8rem;
    color: white;
    visibility:hidden;
}